@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
/* base styles */
* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}

.content{
    background: #f9f9f9;
}

.navbar-logo {
    padding: 20px;
    padding-left: 30px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(236, 236, 236, 1) 0%, rgba(246, 246, 246, 1) 72%, rgba(255, 255, 255, 1) 100%);
}


.navbar-logo h1{
    /* font-family: 'Poppins'; */
    font-weight: 400;
}
.navbar-logo:hover {
    cursor: pointer;
}

.fa-house {
    margin-right: 20px;
    margin-left: 10px;
}

.fa-magnifying-glass {
    margin-right: 20px;
    margin-left: 10px;
}

.fa-right-from-bracket{
    margin-right: 20px;
    margin-left: 10px;
}

.fa-check{
    margin-right: 20px;
    margin-left: 10px;
}

.navbar{
    position: relative;
    display: flex;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(236, 236, 236, 1) 0%, rgba(246, 246, 246, 1) 72%, rgba(255, 255, 255, 1) 100%);
    padding: 18px;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
}

.navbar h5{
        margin-left: auto;
        margin-right: 10px;
        font-family: 'Poppins';
        font-weight: 100;
        margin-top: 2px;
        text-align: right;
    }

.profile-pic{
    border-radius: 50px;
    margin-right: 30px;
    margin-top: -8px;
}


.content{
    display: flex;
}


.home-content, .search-content, .counsil-content{
    text-align: center;
    padding: 50px;
}

.navbar-notloggedin{
    display: flex;
    align-items: center;
    background: #f2f2f2;
    padding: 20px;
    border-bottom: 2px solid #bbbb;
}

.navbar-notloggedin > h1{
    font-family: 'Poppins';
    font-weight: 100;
}

.links{
    
    display: flex;
    margin-left: auto;
    
}

.links a{
    text-decoration: none;
}

.links h4{
    font-family: 'Poppins';
    font-weight: 100;
    padding: 10px;
}

.links h4:hover{
    border-bottom: 0.5px solid #333;
}

/* auth forms */
form.signup-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 35px auto;
    padding: 30px 80px;
    gap: 20px;
    background: #f2f2f2;
    border-radius: 5px;
    border: 1px solid #333;
    box-shadow: -2px -2px 26px 11px rgba(0, 0, 0, 0.21) inset;
        -webkit-box-shadow: -2px -2px 26px 11px rgba(0, 0, 0, 0.21) inset;
        -moz-box-shadow: -2px -2px 26px 11px rgba(0, 0, 0, 0.21) inset;
    /* text-align: center; */
}

.signup-div h1{
    text-align: center;
    margin: 10px auto;
}

.signup-div{
    display: block;
    margin: 20px auto;
}

.signup-form> div {
    background: #f2f2f2;
    text-align: center;
}

.signup-form>h1{
    grid-column: span 2;
    font-weight: 100;
    text-decoration: underline;
}

.signup-form> div input, textarea, select{
    width: 250px;
    height: 20px;
}

.signup-form>.button{
    grid-column: span 2;
}

.button button{
    width: 150px;
    height: 30px;
    border: 1.5px solid #333;
    border-radius: 5px;
}

.button button:hover{
    background-color: #333;
    color: white;
    font-weight: 500;
    transition: 0.2s;
}


form.login-form {
    display: block;
    margin: 35px auto;
    padding: 30px 80px;
    gap: 20px;
    background: #f2f2f2;
    border-radius: 5px;
    border: 1px solid #333;
    box-shadow: -2px -2px 26px 11px rgba(0, 0, 0, 0.21) inset;
    -webkit-box-shadow: -2px -2px 26px 11px rgba(0, 0, 0, 0.21) inset;
    -moz-box-shadow: -2px -2px 26px 11px rgba(0, 0, 0, 0.21) inset;
    /* text-align: center; */
}

.login-div h1 {
    text-align: center;
    margin: 10px auto;
}

.login-div {
    margin: 70px auto;
}
.login-form>div {
    background: #f2f2f2;
    text-align: left;
}

.login-form>h1 {
    grid-column: span 2;
    font-weight: 100;
    text-decoration: underline;
}

.login-form>div input{
    display: block;
    width: 250px;
    height: 20px;
}

.login-form .button{
    text-align: center;
}

.error{
    background-color: rgb(251, 203, 203);
    margin: 30px auto;
    height: fit-content;
    padding: 20px;
    width: fit-content;
    text-align: center;
    color: rgb(120, 0, 0);
    border: 1.5px solid rgb(221, 3, 3);
}

.success{
        background-color: rgb(187, 252, 183);
        margin: 30px auto;
        height: fit-content;
        padding: 20px;
        width: fit-content;
        text-align: center;
        color: rgb(0, 75, 0);
        border: 1.5px solid green;
}